{% extends '_main.twig' %}

{% block head_meta %}
    {% if head.title %}
        <title>{{ head.title }}</title>
    {% endif %}
    {% if head.author %}
        <meta name="author" content="{{ head.author }}"/>
    {% endif %}
    {% if head.description %}
        <meta name="description" content="{{ head.description }}">
    {% endif %}
    {% if head.keywords %}
        <meta name="keywords" content="{{ head.keywords }}">
    {% endif %}

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {% if links.canonical %}
        <link rel="canonical" href="{{ links.canonical }}">
    {% endif %}

    {# <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Open-source framework for publishing content",
            "datePublished": "2015-10-07T12:02:41Z",
            "image": [
                "logo.jpg"
            ]
        }
    </script> #}
{% endblock %}

{% block head_script %}
    {{ parent() }}
    {% if ampEnabled %}
        {% set amp_version = '0.1' %}
        <script custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-{{ amp_version }}.js" async=""></script>
    {% endif %}
{% endblock %}

{% block head_style %}
    {% if ampEnabled %}
        {# @formatter:off #}
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

        <style amp-custom>
            {# any styles are injected here from build process #}
        </style>
        {# @formatter:on #}
    {% else %}
        {% for styleSheet in styleSheets %}
            {% if cssInject %}
                <style>
                </style>
            {% else %}
                <link href="{{ links.origin }}styles/{{ styleSheet }}" rel="stylesheet" type="text/css"/>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block header %}
    <header class="sticky flex justify-start items-center top-0 left-0 right-0 pl2 pr4 bg-white-trans z4" data-e2e="header">
        <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="fixed left-0 pt2 pb1 pl1 pr1 cursor-pointer">
            ☰
        </div>
        <a href="{{ links.origin }}" class="mxa h-color body1 bold my0 py1" data-e2e="header-title">
            Best Tech
        </a>
    </header>
{% endblock %}

{% block container_inner %}
    <div data-e2e="content">
        {{ parent() }}
    </div>
{% endblock %}

{% block footer_inner__ %}
    <footer class="container container-medium center">
        <p class="mb0">&copy; 2020 York News</p>
        {#
        can only be tested deployed, enforces SSL, todo: add SSL support to cap
        {% if ampEnabled %}
            <amp-script src="js/main.js" width="0" height="0" layout="container">
            </amp-script>
        {% endif %} #}
        <p class="mt0 light">powered by <a href="https://github.com/bemit/create-amp-page">create-amp-page</a></p>
    </footer>
{% endblock %}

{% block body_end_script %}
    {% if not ampEnabled %}
        {# NETLIFY-CMS #}
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js">
        </script>
        {#
        for AMP custom JS is not allowed,
        thus the redirect after login does not work.
        The email templates must be adjusted for AMP to correctly work with netlify identity for the admin only.
        #}
        <script>
            if(window.netlifyIdentity) {
                window.netlifyIdentity.on('init', user => {
                    if(!user) {
                        window.netlifyIdentity.on('login', () => {
                            document.location.href = '/admin/'
                        })
                    }
                })
            }
        </script>
    {% endif %}
{% endblock %}
Skip to content
---
$title: Tools
$view: /views/overview/tools.j2
flyout:
  description: Begin building
  icon: wrench

filters:
  - Websites
  - Stories
  - Ads
  - Email

categories:
- creation
- platforms
- providers
- developer

stage:
  layout: all
  devices:
    - image_src: '/static/img/docs/tools/ampplayground.jpg'
      width: 1280
      height: 711
      type: desktop
      alt: AMP Playground
    - image_src: '/static/img/docs/tools/ampvalidator.jpg'
      width: 3
      height: 4
      type: tablet
      alt: BMW and Jung von Matt
    - image_src: '/static/img/success-stories/carved/amp_carved_1.jpg'
      width: 3
      height: 5
      type: mobile
      alt: Carved

tools: !g.yaml /shared/data/tools.yaml

---

<section class="ap--stage ap--container-fluid">
  {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}

  <div class="ap-o-stage">
    <div class="ap--container-fluid">
      <div class="ap-o-stage-content">{{ _('<h1 class="ap-o-stage-content-headline">Tools</h1> <h2 class="ap-o-stage-content-subline">for creation, design and development</h2>') }}</div>
    </div>
  </div>

  {% include 'views/partials/tools-visual.j2' %}
</section>

<section class="ap--tools">

<section class="ap-o-tool-section ap-o-tool-format-filter-container ap--container">
  <p class="ap-o-tool-format-filter-caption">{{ _('Find the right tools to build') }}</p>
  {% do doc.icons.useIcon('icons/close.svg') %}
  {% do doc.styles.addCssFile('css/components/atoms/pill.css', -100) %}
  <ul class="ap-o-tool-format-filter none" [class]="activeFilter.chosenFilter != 'none' ? 'ap-o-tool-format-filter filtered' : 'ap-o-tool-format-filter none' ">
    {% for link in doc.filters %}
      <li>
        <button class="ap-a-pill {{link|slug}} [% if requestedFormat == '{{link}}'|lower or not requestedFormat%]active[% endif %]"
          on="tap:AMP.navigateTo(url='{{ g.doc('/content/amp-dev/documentation/tools.html', locale=doc.locale).url.path }}?format={{link|slug}}')">
          <div class="ap-a-pill-icon ap-a-ico {{link|lower}}">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{link|lower}}"></use></svg>
          </div>
          <span class="ap-a-pill-text">{{ _(link) }}</span>
          <div tabindex="-1" role="reset"
            class="ap-a-pill-reset ap-a-ico [% if requestedFormat == '{{link}}'|lower %]show[% endif %]"
            on="tap:AMP.navigateTo(url='{{ g.doc('/content/amp-dev/documentation/tools.html', locale=doc.locale).url.path }}')">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg>
          </div>
        </button>
      </li>
    {% endfor %}
  </ul>
</section>

{% for category in doc.categories %}

  <section class="ap-o-tool-section ap--container">
    <div class="ap-o-tool-section-title">
      {% for tool in doc.tools[category] %}
      <span hidden class="[% if format in '{{tool.formats}}' %]show[% else %]hide[% endif %]"></span>
      {% endfor %}

      <h2 id="{{ category }}">
        {% if category == 'creation' %}
        {{ _('Creation &amp; Design') }}
        {% elif category == 'platforms'  %}
        {{ _('CMS &amp; Platforms') }}
        {% elif category == 'developer' %}
        {{ _('Developer Tools') }}
        {% elif category == 'providers' %}
        {{ _('Service providers') }}
        {% endif %}
      </h2>
    </div>

    {% if category == 'creation' %}
    <p [% if format == 'stories' %][% else %]hidden[% endif %] class="ap-o-tool-format-filter-caption">{{ _('Looking to get your Story creation resource listed? <a href="https://github.com/ampproject/amp.dev/issues/new?assignees=&labels=&template=story_creation_tool.md&title=">Create a request here!</a>') }}</p>
    {% endif %}

    {% if category == 'providers' %}
    <p [% if format == 'email' %][% else %]hidden[% endif %] class="ap-o-tool-format-filter-caption">{{ _('Looking for supported email service providers? <a href="../support/faq/email-support.md">They are now listed in the FAQ</a>.') }}</p>
    {% endif %}

    <div class="ap-o-teaser-grid">
      <div class="ap-o-teaser-grid-list">
        {% for tool in doc.tools[category] %}
        {% include '/views/partials/tools-teaser.j2' %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endfor %}
</section>
