{% extends '_base.twig' %}

{% block content %}
    <section class="container container-medium container-fixed px2">
        <h1 class="demo-title bold normal mt0 px2">Adball Tech Support
            <a href="https://github.com/Maliek2/deployforvercel.git" class="align-top">
                {% include 'icons/GitHub.twig' %}
            </a>
        </h1>
        <p class="body1 px2">
            Example <a href="https://amp.dev" rel="noreferrer noopener" target="_blank">AMP</a>
            page, build handling by
            <a href="https://github.com/bemit/create-amp-page" rel="noreferrer noopener" target="_blank">create-amp-page</a> and styling with
            <a href="https://formanta.bemit.codes" rel="noreferrer noopener" target="_blank">@formanta-sass</a>.
        </p>
        <p class="body1 mt1 mb0 px2">
            Checkout the repository, install dependencies, develop, build and add files on a webspace!
        </p>
        <pre class="px2">
            <code>git clone https://github.com/bemit/create-amp-page-starter.git
npm i
npm start
npm run build
npm run tasks
</code>
</pre>
    </section>
    <section class="container container-medium container-fixed px2">
        <div class="flex flex-wrap grid">
            <div class="col col-12 col-md-4">
                <div class="panel">
                    <div class="panel-head">
                        <h2 class="panel-title">Best News Blog</h2>
                    </div>
                    <div class="panel-body">
                        <p class="body1">    </p>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary-o no-link" href="{{ links.origin }}blog/post">Latest</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-4">
                <div class="panel">
                    <div class="panel-head">
                        <h2 class="panel-title">About</h2>
                    </div>
                    <div class="panel-body">
                        <p class="body1">
                       </p>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary-o no-link" href="{{ links.origin }}blog/about">About</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-4">
                <div class="panel">
                    <div class="panel-head">
                        <h2 class="panel-title">Advertising Space</h2>
                    </div>
                    <div class="panel-body">
                        <p class="body1">
                       </p>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary-o no-link">Contact</a>
                        <a class="btn btn-primary-o no-link" href="{{ links.origin }}blog/privacy">Privacy</a>
                        <a class="btn btn-primary-o no-link" href="{{ link.origin }}blog/cppa">Don't Sell My Info</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container container-medium container-fixed px2">
        {{ content }}
    </section>
{% endblock %}
